<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Zero prob:</strong>
  <%= @player.zero_prob %>
</p>

<p>
  <strong>One prob:</strong>
  <%= @player.one_prob %>
</p>

<p>
  <strong>Two prob:</strong>
  <%= @player.two_prob %>
</p>

<p>
  <strong>Three prob:</strong>
  <%= @player.three_prob %>
</p>

<p>
  <strong>Four prob:</strong>
  <%= @player.four_prob %>
</p>

<p>
  <strong>Five prob:</strong>
  <%= @player.five_prob %>
</p>

<p>
  <strong>Six prob:</strong>
  <%= @player.six_prob %>
</p>

<p>
  <strong>Out prob:</strong>
  <%= @player.out_prob %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', root_path %>
