<div class="row">
  <div class="col-md-2">
    <br>
    <%= link_to "Go Back", root_path, class: "btn btn-primary" %>
  </div>
  <div class="col-md-8">
    <br>
    <h4><%= @result %><h4>
    <br>
    <h4>Score Card</h4>
    <br>
    <% @m.scorecard.each do |name, score| %>
      <% strike = @m.current_player_ids.include?(score[:id]) ? "*" : "" %>
      <text><%= "#{name} - #{score[:runs_scored]} #{strike} (#{score[:balls_played]} balls)" %></text>
      <br />
    <% end %>
    <br>
    <h4>Commentary</h4>
    <% @commentary.each_with_index do |comment, index| %>
      <% if index % 7 == 0 %>
        <br>
        <h6><%= comment %></h6>
      <% else %>
        <text class="small"><%= "#{index / 7}.#{index % 7} #{comment}" %></text>
        <br>
      <% end %>
    <% end %>
    <br>
    <h5>---- The End ----</h5>
    <br>
  </div>
</div>